<div class="intro">
    
    
</div>

<div class="intro2">
    <h3 id="mainHeader"> CATCH A BUS RIDE AROUND SPLIT</h3>
    <p id="intro">
              Check the Bus lines or search your line by zone  
    </p>
</div>

<div class="container">
    <h3 id="header"> DESTINATIONS </h3>
    <div class="intro3">
        <span>
            >>> Find here timetable of wanted bus line by clicking on the details icon  <br> <br>          
        </span> 
       <p>Filter destinations by zone 
            <select class="custom-select"  #mySelect (change)="getByZone(mySelect.value)">
                <option [value]=""> </option>
                <option [value]="1">Suburbs</option>
                <option [value]="2">City Center</option>
            </select>   
        </p>
    </div>

    <div class="col-6">
        
        <table id="desttable">
            <thead>
               <tr>
                <th>ZONE</th>
                <th>LINE NO.</th>
                <th>DEPARTURE FROM </th>
                <th>TO</th>
                <th>DETAILS</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let dests of dests">
                  <td>{{ dests.zone }}</td>
                  <td>{{ dests.line_no }}</td>
                  <td>{{ dests.dfrom }}</td>
                  <td>{{ dests.dto}}</td>
                  <td (click)="getDetail(dests.id)">
                    <mat-icon> departure_board</mat-icon>
                  </td>
               </tr>
            </tbody>
        </table>

    </div>
        <div class="col-6">
            <h3 id="header2"> Timetable </h3>
        <table id="timetable">
            <thead>
                <tr>
                    <th>WORKING DAYS</th>
                    <th>HOLIDAYS</th>
                </tr>
            </thead>
            <tbody [style.display]="showTimetable ? 'block' : 'none'">
               <tr *ngFor="let t of times">
                    <td>{{t.working_day}}</td>
                    <td>{{t.holidays}}</td>
               </tr>
            </tbody>
    
        </table> 
        </div>

   
</div>   


 


 
