<form [formGroup]="TicketForm" (submit)='next()'>
    <div [style.display]="submited  ? 'none' : 'grid'" id="ticket1">
      
      <p class="header"> Ticket form</p>
      
      <div class="row">
          <input type="email" formControlName="email" placeholder="Email" id="email" required class="form-control">
      </div>
      <div class="row">
        <input type="text" formControlName="firstname" placeholder="First Name" id="firstname" required class="form-control" > 
      </div>
      <div class="row">
        <input type="text" formControlName="lastname"  placeholder="Last Name" id="lastname" required class="form-control">    
      </div>  
        <button  class="btn"  [disabled]="!TicketForm.valid"> Next </button>
        
    </div>

</form>
<div *ngFor="let u of user">
        {{u}}
    
      </div>