.content{
    display:grid;
    position: relative;
    height:100%;
    margin-top: 250px;
    margin-left: 20px;
   

}

.intro {
    align-items:baseline;
    background-image: url("../../assets/images/buspic2.png");
    background-repeat: repeat-x;
    height:600px;
    width:100%;
    top:0;
    position:absolute;
    z-index:-2;  
    background-size: 100% 80%;
       
}

.intro2{
    height: 40%;
    background-image: url("../../assets/images/cloud.png");
    width: 60%;
    position: absolute;
    top: 30%;
    
    animation: cloudmoves 3s infinite linear;
    }

    @keyframes cloudmoves {
      from{right:35%;}
      to{right:50%;}
    }
 #intro{
    font-size: 20px;
    word-spacing: 5px;
    line-height: 2.5;
    position: absolute;
    top: 38%;  
    font-family: 'Reggae One', cursive;
    left: 10%;
    font-style: oblique;
    flex:2;
  }
 h3{
  text-transform: uppercase;
  color: rgba(9, 97, 82, 0.918);
  font-size: 30px;
  text-shadow: 2px 2px 5px rgb(21 110 95 / 90%);
  letter-spacing: 3px;
  position: absolute;
  left: 650px;
  height: 100px;
  top: 130px;
  margin-bottom: .5rem;
  font-weight: 500;
  font-family: 'Reggae One', cursive;
 }
#tic{
  position: absolute;
  left: 40%;
  height: 30px;
  top: 0px;
  font-size: 22px;
  justify-content: center;
  color: rgba(9, 97, 82, 0.1);
}
#sub{
  position: absolute;
  left: 85%;
  height: 30px;
  top: 0px;
  font-size: 22px;
  color: rgba(9, 97, 82, 0.1);
}

h5{
  text-transform: uppercase;
  font-family:  'Reggae One', cursive;
  font-size: 16px;
  margin:10px;
  padding:3px;
  padding-bottom:10px;
  margin-left: 5px;
  cursor: pointer;
  transition: 2s;
  transition-timing-function: ease;
}
h5:hover{
  text-transform: uppercase;
  font-family:  'Reggae One', cursive;
  font-size: 16px;
  padding:3px;
  padding-bottom:10px;
  margin-left: 100px;
  cursor: pointer;
}

h4{
  font-family: 'Reggae One', cursive;
  margin: 10px;
  padding-bottom: 15px;
}

p{
font-family: 'Alice', serif;
font-size: 20px;
text-align:center;
padding-right:200px;

}

  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }




  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

