<div class="intro">
     <h3> CATCH A BUS RIDE AROUND SPLIT</h3>
     <div class="intro2">
     </div>
 <p id="intro">Check timetables for bus lines around Split area,<br>
      get tickets or subscriptions and enjoy Your ride.
   </p>
 
   </div>
 
<div class="content">
  
<div class="row" style="padding-top:50px;">
   <div class="col-6"  style="padding-top:10px;">
      <div class="ticket-info">
         <h3 id="tic">TICKETS</h3>
         
           <h4>  Get your tickets fast and easy <mat-icon>ballot</mat-icon></h4>   
            <h5 (click) ="show1()">click to read more >>></h5>    
           <div class="ticketintro" [style.display]="showticketinfo ? 'grid' : 'none'"> 
              <p> Choose when you want to use the ticket<br>
                  Choose the ticket type and travel area(zone)<br>
                  If you travel with friends your ticket can be valid for them too,<br> just choose the amount of tickets
                  Get the ticket and enjoy the ride!
               </p>    
               <p> NOTE:<br>
                  Two ticket types are available:<br>
                  for 2 hours or for the whole day (24h from activation time which you choose)<br>
                  Price depends also on the choosen zone or area(suburbs /city center).
               </p>
      
         </div>
      </div>
         <div class="showform">
         <app-get-ticket> </app-get-ticket>
         </div>
    </div>
   <div class="col-6" style="padding-left:20px; padding-top:15px;">
      
      <div class="register-info">
         <h3 id="sub">SUBSCRIPTIONS</h3>
            <h4>   Sign Up for subscription 
               <span  class="material-icons" id="subscard"> <mat-icon>assignment_ind</mat-icon></span>
            </h4>
            <h5 (click) ="show2()">click to read more >>></h5>   
      <div class="reginfo2" [style.display]="showsubinfo ? 'grid' : 'none'">
      <p> Get your Subscription card for unlimited bus rides for chosen period <br>
          How Subscription Card works? <br> 
      
          Make an account here and login with your new account<br>
            On your profile fill the data to get the Card <br>
            It is possible to get the bus tickets too! <br>
            You will have the overview of your cards and tickets<br>
        NOTE: Prices can vary from each period 
      </p>

      </div>
      </div>
      <div class="showform">
      <app-register> </app-register>
      </div>
   </div>
        
</div>


</div>