<div class="content">
<div class="grid">
    <h3>Welcome to administration page </h3>


    <div class="row">
        <div class="col-4" style="width:40%">
            <h5> ALL DEPARTURES</h5>
            <table id="desttable">
                <thead>
                <tr>
                    <th>ZONE</th>
                    <th>LINE NO.</th>
                    <th>DESTINATION </th>
                    <th>EDIT </th>
                    <th> </th>
                    <th>DELETE TIMETABLE</th>
                </tr>
                
                </thead>
                <tbody *ngFor="let dest of dest">
                <tr scope="row">
                    <td>{{ dest.zone }}</td>
                    <td>{{ dest.line_no }}</td>
                    <td>{{ dest.dest_name }}</td>
                    <td (click) = "show(dest.id)"><mat-icon>edit</mat-icon>
                    </td>                    
                    <td (click)="showTable(dest.id)">
                        <mat-icon>calendar_today</mat-icon>
                    </td>
                    <td (click)="deleteTimetable(dest.id)">    
                         <mat-icon> delete </mat-icon>
                    </td>              
                </tr>
                </tbody>
            </table>
            <button class="btn-lg btn-outline-primary" (click) = "openAddWindow()">Add new</button>
            </div>
            <div class="col-4" style="width:26%;">
                <h5> Timetable </h5>
                <table id="timetable" [style.display]="showTime ? 'block' : 'none'">
                        <tr>
                            <th>WORKING DAYS</th>
                            <th>HOLIDAYS</th>
                        </tr>              
                        <tr *ngFor="let time of times">
                            <td>{{time.working_day}}</td>   
                            <td>{{time.holidays}}</td>
                        </tr>      
            </table>
            <button class="btn-lg btn-outline-primary" (click) = "OpenTimetable()">Add new</button> 
            
            <form [style.display]="showTimetable ? 'block' : 'none'" [formGroup]="AddTimeForm" (ngSubmit)="AddTimetable()" id="newTimetable"> 
                <label for="departures" id="dep">Choose destination:</label>
                <select formControlName="dest_name" >
                    <option *ngFor="let d of dest" [value]='d.id'>{{d.dest_name}}</option>       
                </select><br>
                <label for="departures" id="dep">Choose Departure:</label>
                <select formControlName="departure">  
                        <option *ngFor="let t of times2" [value]='t.id'>{{t.deptype}} {{t.departure}}</option>   
                </select><br>
                <button type="submit" class="btn-lg btn-outline-primary">Add </button>
            </form>
         </div>

         <div class="col-4">
            <h5>Departure Times</h5>
            <div class="times">
                <form [formGroup]="delDepForm" (ngSubmit)="deleteTime()"  id="delDept"> 
                    <label  id="dep" for="departures">Choose departure to delete:</label>
                    <select formControlName="id">
                        <option disabled>All Departures</option>    
                            <option *ngFor="let t of times2" [value]='t.id'>{{t.deptype}} {{t.departure}}</option>   
                    </select>
                    <button type="submit" class="btn-lg btn-outline-primary">Delete</button>
                </form>
                <form [formGroup]="AddDepartureForm" (ngSubmit)="AddTime()" id="addDept"> 
                    <label id="dep" for="departures">Departure Times:</label>
                    <select formControlName="deptype">
                        <option value='working_day'>Working day</option>    
                            <option value='holidays'>Holidays</option>     
                    </select>
                    <input  formControlName="departure" placeholder="Add departure time...." type="time" id="addtime"/>
                    <button class="btn-lg btn-outline-primary" type="submit"  >Add new</button>
                </form>
            </div>

            











        </div>
<!-- MODAL FOR DESTINATION EDITING -->
        <div [style.display]="showModal ? 'grid' : 'none'" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Edit destination
                <button type="button" class="btn-dark" id="updatex" data-dismiss="modal" (click) = "hide()">x</button>
                </h2>
                </div>
                <form [formGroup]="destForm" (ngSubmit)="UpdateDest(onedest.id)"> 
                    <div class="form-group row">
                        <label class="col-6">Full destination name:</label>
                        <input *ngIf="showModal" [value]="onedest.dest_name" [(ngModel)]="onedest.dest_name" type="text" formControlName="dest_name" class="form-control col-4"/>          
                    </div>
                    <div class="form-group row">
                                <label class="col-12">Zone number:</label>
                            <input *ngIf="showModal" [value]="onedest.zone" [(ngModel)]="onedest.zone" type="text" formControlName="zone" class="form-control col-4" />
                    </div> 
                    <div class="form-group row">
                        <label class="col-12">Line number:</label>
                    <input *ngIf="showModal" [value]="onedest.line_no"  [(ngModel)]="onedest.line_no" type="text" formControlName="line_no" class="form-control col-4" />
                    </div>    
                    <div class="form-group row">
                        <label class="col-12">Starting station:</label>
                    <input *ngIf="showModal" [value]="onedest.dfrom"  [(ngModel)]="onedest.dfrom" type="text" formControlName="dfrom" class="form-control col-4" />
                    </div> 
                    <div class="form-group row">
                        <label class="col-12">Finishing station:</label>
                    <input *ngIf="showModal" [value]="onedest.dto"  [(ngModel)]="onedest.dto" type="text" formControlName="dto"  />
                    </div> 
                    <div class="form group col-12">
                        <label>Active:</label>
                        <input *ngIf="showModal" type="checkbox" [value]="onedest.active"  [(ngModel)]="onedest.active" formControlName="active"/>      
                    </div> 

                        <button [disabled]="!destForm.valid" type="submit" id="update" class="btn">Update</button>
                </form>
            
            </div>
        </div> 
        </div>

<!-- ADD NEW DESTINATION MODAL ------------>
        <div class="modal" [style.display]="modalAdd ? 'grid' : 'none'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel"> New destination
                <button type="button" class="btn" id="update" data-dismiss="modal" (click) = "hide()">x</button>
                </h2>
                </div>
                <form [formGroup]="NewDestForm" (ngSubmit)="AddDest()"> 
                    <div class="form-group row">
                        <label class="col-6">Full destination name:</label>
                        <input  type="text" formControlName="dest_name" class="form-control col-4"/>          
                    </div>
                    <div class="form-group row">
                                <label class="col-12">Zone number:</label>
                            <input type="text" formControlName="zone" class="form-control col-4" />
                    </div> 
                    <div class="form-group row">
                        <label class="col-12">Line number:</label>
                    <input type="text" formControlName="line_no" class="form-control col-4" />
                    </div>    
                    <div class="form-group row">
                        <label class="col-12">Starting station:</label>
                    <input type="text" formControlName="dfrom" class="form-control col-4" />
                    </div> 
                    <div class="form-group row">
                        <label class="col-12">Finishing station:</label>
                    <input type="text" formControlName="dto"  />
                    </div> 
                    <div class="form group">
                        <label>Active:</label>
                        <input type="checkbox" formControlName="active"/>      
                    </div> 

                        <button [disabled]="!NewDestForm.valid" type="submit" id="update" class="btn">Add</button>
                </form>
            
            </div>
        </div> 
        </div>

    </div>






</div>
</div>